/* Mobile Styles (Media Query) */
@media screen and (max-width: 768px) {
    .father-container {
        width: 100% !important;
        padding: 0px !important;
        gap: 1px !important;
        align-items: center !important;
        height: auto !important;
        background-color: white !important;
    }

    .main-container {
        width: 100% !important;
        height: auto !important;
    }

    .card {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        padding: 16px !important;
    }

    .card-media {
        width: 100% !important;
    }

    .accordion-details {
        min-width: 100% !important;
        max-width: 80% !important; /* Ajuste o valor máximo de largura conforme necessário */
        margin: 0 auto; /* Centralize o accordion no meio da tela */
    }
}

.father-container {
    display: flex ;
    width: 1024px ;
    height: 1337px ;
    padding: 32px 40px ;
    align-items: flex-start;
    gap: 24px ;
    flex-shrink: 0 ;
    margin: auto ;
    background: #F0F0F0F0 ;
  }
  
  /* MainContainerStyles */
  .main-container {
    display: flex ;
    width: 600px ;
    height: 1071px ;
    padding-bottom: 24px ;
    flex-direction: column ;
    align-items: center ;
    flex-shrink: 0 ;
  }
  
  /* Card Styles */
  .card {
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
    box-shadow: none ;
    background-color: transparent ;
  }
  
  .card-content {
    /* Add specific styles if needed with !important */
  }
  
  .card-media {
    width: 151px ;
  }
  
  /* Accordion Styles */
  .accordion {
    box-shadow: none ;
  }
  
  .accordion-summary {
    /* Add specific styles if needed with !important */
  }
  
  .accordion-details {
    min-width: 600px ;
  }
  
  /* Add any other custom styles you need here with !important */
  